<app-header backButton="/home" title="{{Heroe?.name}}"></app-header>
@if (Heroe) {
  <ion-content >
    <div class="content-img">
      <ion-img [src]="getUrls(Heroe?.thumbnail?.path, Heroe?.thumbnail?.extension)"></ion-img>
    </div>
  
    <ion-list>
      <ion-item>
        <ion-label> <span>{{'comics' | translate}}:</span>{{Heroe?.comics?.available}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> <span>{{'series' | translate}}:</span>{{Heroe?.series?.available}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><span>{{'historias' | translate}}:</span>{{Heroe?.stories?.available}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
} 


